<footer class="bg-green-900 text-white text-center p-4 mt-8">
    <p class="text-sm">Diese Website verarbeitet keine personenbezogenen Daten im Sinne der EU-Datenschutz-Grundverordnung (DSGVO). Wir respektieren Ihre Privatsphäre.</p>
    <p class="text-sm">Unter Umständen platziert der Host-Provider einen technisch notwendigen Cookie zur Abwehr von Cyberangriffen und Sicherstellung der Integrität der Website.</p>
    <p class="text-sm">
      Es handelt sich um eine vorläufige Version der Website.
    </p>
    <p class="text-xs mt-2">
     2024 Wood Vikings GmbH. Alle Rechte vorbehalten.
    </p>
  </footer>
  